<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Home</title>
</head>
<body>
    <div class="wrapper">
        <h1><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h1>
        <h1>About me</h1>
        <div class="container">
            <div class="right">
                <img src="~/images/pic.jpg" alt="My Profile Picture">
                <h3>Moose Philips</h3>
                <h5>I like Stuff!</h5>
            </div>
            <div class="hleft">
                <textarea name="aboutme" cols="30" rows="20">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac fermentum lacus, efficitur ultrices neque. Maecenas vitae pellentesque nulla. Nunc nisl nisl, vehicula ac malesuada eget, dapibus vitae nisl. Cras tempus ornare ligula, in suscipit tellus mattis vitae. Suspendisse vehicula tellus et pharetra porta. Duis id massa auctor tortor feugiat dapibus. Etiam posuere, dui ac dignissim sollicitudin, dolor diam elementum orci, sit amet rutrum tortor elit vitae dolor.

                    Mauris scelerisque egestas quam. Suspendisse nec magna orci. Sed vehicula arcu ut mauris rutrum ultrices. Integer dictum turpis quis neque auctor venenatis. Morbi nibh nisl, porta sit amet enim a, ullamcorper aliquet diam. Vivamus et dui tempus, rhoncus sem id, venenatis orci. Maecenas sem dui, placerat vel aliquam eget, tempor vel nisi.
                </textarea>
            </div>
        </div>
    </div>
</body>
</html>