<div class="card" id="Top" >
    <div class="card-header bg-dark text-light">Level 3</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level3.cshtml.</p>
        <ol>
            <li><a href="#1">...all teams, past and present, that Samuel Evans has played with</a></li>
            <li><a href="#2">...all players, past and present, with the Manitoba Tiger-Cats</a></li>
            <li><a href="#3">...all players who were formerly (but aren't currently) with the Wichita Vikings</a></li>
            <li><a href="#4">...every team that Jacob Gray played for before he joined the Oregon Colts</a></li>
            <li><a href="#5">...everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</a></li>
            <li><a href="#6">...all teams that have had 72 or more players, past and present.</a></li>
            <li><a href="#7">...all players, sorted by the number of teams they've played for</a></li>
        </ol>
    </div>
</div>

<h4>To make navigation easier links have been added to top of page as well as to each task</h4>  

<div class="col-sm-6" id="1">
    <div class="card">
        <div class="card-body">
            <a href="#Top"><h3>All All Teams, Past and Present, that Samuel Evans has played with</h3></a>
            <table class="table table-striped">
                <tr>
                    <th>Team</th>
                    <th>Location</th>
                </tr>
                @foreach(var l in ViewBag.Samuel)
                {
                    <tr>
                        <td>@l.TeamOfPlayer.TeamName</td>
                        <td>@l.TeamOfPlayer.Location</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
