@model Chef

@{
    ViewData["Title"] = "A Web Page";
}

<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
</div>
<div class="text-center">
    <h1 class="display-4">@Model.FirstName @Model.LastName</h1>
</div>
<div>
    <p>@Model.DoB.ToString("MMMM dd yyyy")</p>
    <p>@Model.Age</p>
</div>
<div>
    <button type="submit"><a asp-action="DeleteChef">Delete</a></button>
    <button type="submit"><a asp-action="EditChef">Edit</a></button>
</div>