@model Chef
@{
    ViewData["Title"] = "A Web Page";
}

<div class="text-center">
    <h1 class="display-4">Add a Chef!</h1>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
</div>
<div>
    <form asp-action="UpdatedChef" method="post">
        <div>
            <div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" value=@Model.FirstName>
        </div>
        <div>
            <div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" value=@Model.LastName>
        </div>
        <div>
            <div>
                <span asp-validation-for="DoB" class="text-danger"></span>
            </div>
            <label asp-for="DoB"></label>
            <input asp-for="DoB" type="date" value=@Model.DoB.ToString("yyyy-MM-dd")>
        </div>
        <button type="submit">Edit Chef</button>
    </form>
</div>