@model Form
@{
    ViewData["Title"] = "A Web Page";
}

<div class="text-center">
    <h1 class="display-4">Enter Your information</h1>
    <form asp-action="Result" asp-controller="Home" method="post">
        <div>
            <div>
                <span class = "text-danger" asp-validation-for="fname"></span>
            </div>
            <label asp-for="fname"></label>
            <input asp-for="fname">    
        </div>
        <div>
            <div>
                <span class = "text-danger" asp-validation-for="lname"></span>
            </div>
            <label asp-for="lname"></label>
            <input asp-for="lname">    
        </div>
        <div>
            <div>
                <span class = "text-danger" asp-validation-for="age"></span>
            </div>
            <label asp-for="age"></label>
            <input asp-for="age">    
        </div>
        <div>
            <div>
                <span class = "text-danger" asp-validation-for="email"></span>
            </div>
            <label asp-for="email"></label>
            <input asp-for="email">
        </div>
        <div>
            <div>
                <span class = "text-danger" asp-validation-for="password"></span>
            </div>
            <label asp-for="password"></label>
            <input asp-for="password">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
