@model Survey
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <form asp-action="Results" asp-controller="Home" method="post" class="p-5 border border-dark w-50" >
        <div>
            <div>
                <span class = "text-danger" asp-validation-for="name"></span>
            </div>
            <label asp-for="name"></label>
            <input asp-for="name">  
        </div>
        <div>
            <div>
                <span class = "text-danger" asp-validation-for="location"></span>
            </div>
            <label asp-for="location"></label>
            <select asp-for="location" class="form-select" aria-label="Default select example" >
                <option style="display:none" label=" "></option>
                <option value="Arlington">Arlington</option>
                <option value="Berkeley">Berkeley</option>
                <option value="Boise">Boise</option>
                <option value="Chicago">Chicago</option>
                <option value="Dallas">Dallas</option>
                <option value="Seattle">Seattle</option>
                <option value="Tulsa">Tulsa</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="San Jose">San Jose</option>
                <option value="Orange County">Orange County</option>
                <option value="Online">Online</option>
            </select>
        </div>
        <div>
            <div>
                <span class = "text-danger" asp-validation-for="language"></span>
            </div>
            <label asp-for="language"></label>
            <select asp-for="language" class="form-select" aria-label="Default select example">
                <option  style="display:none" label=" "></option>
                <option value="C#">C#</option>
                <option value="Python">Python</option>
                <option value="Ruby">Ruby</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
            </select>
        </div>
        <div>
            <div>
                <span class = "text-danger" asp-validation-for="comment"></span>
            </div>
            <textarea asp-for="comment" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
