@{
    ViewData["Title"] = "Results";
}


<div class="p-5 border border-dark  w-50" >
    <h3 class="text-decoration-underline">Submtited Info</h3>
    <div>
    <p>Name: @ViewBag.name</p>
    <p>Dojo Location:@ViewBag.location</p>
    <p>Favorite Language:@ViewBag.language</p>
    <p>Comments:@ViewBag.comments</p>
    </div>
</div>
