<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Projects</title>
</head>
<body>
    <div class="wrapper">
        <h1><a href="/">Home</a> | <a href="/projects">Projects</a> | <a href="/contact">Contact</a></h1>
        <h1>Here are some projects of mine!</h1>
        <div class="mid">
            <div class="container">
                <img src="~/images/pic.jpg" alt="Project 1 Picture">
                <div class="left">
                    <span class="desc">
                        <h3>Cool thing!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac fermentum lacus, efficitur ultrices neque. Maecenas vitae pellentesque nulla. Nunc nisl nisl, vehicula ac malesuada eget, dapibus vitae nisl. Cras tempus ornare ligula, in suscipit tellus mattis vitae. </p>
                    </span> 
                </div>
            </div>
            <div class="container">
                <img src="~/images/pic.jpg" alt="Project 2 Picture">
                <div class="left">
                    <span class="desc">
                        <h3>Cool thing!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac fermentum lacus, efficitur ultrices neque. Maecenas vitae pellentesque nulla. Nunc nisl nisl, vehicula ac malesuada eget, dapibus vitae nisl. Cras tempus ornare ligula, in suscipit tellus mattis vitae. </p>
                    </span> 
                </div>
            </div>
            <div class="container">
                <img src="~/images/pic.jpg" alt="Project 3 Picture">
                <div class="left">
                    <span class="desc">
                        <h3>Cool thing!</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac fermentum lacus, efficitur ultrices neque. Maecenas vitae pellentesque nulla. Nunc nisl nisl, vehicula ac malesuada eget, dapibus vitae nisl. Cras tempus ornare ligula, in suscipit tellus mattis vitae. </p>
                    </span> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>